$font-secondary: 'Jura', sans-serif;
$font-primary: 'Noto Sans', sans-serif;

$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-green-bg: #81b29a;
$color-yellow-bg: #f2cc8f;
$color-beige-bg: #f4f1de;
$color-pink-bg: #e07a5f;
$color-gray-bg: #f8f9fa;

$color-black: #404040;
$color-dark-blue: #3d405b;
$color-mild-pink: #f4978e;
$color-blue: #0077b6;
